openai==0.27.8
fastapi==0.99.1
black==23.7.0
isort==5.12.0
pydantic==1.10.12
langchain==0.0.339
uvicorn==0.23.2
jinja2==3.1.2
faiss-cpu==1.7.4
bs4==0.0.1
unstructured==0.9.0
libmagic==1.0
sse_starlette==1.6.1
chromadb==0.4.5
tiktoken==0.4.0
requests==2.31.0
beautifulsoup4~=4.12.2
pytesseract~=0.3.10
Pillow~=10.0.0
docx
python-docx
nltk
pandas
openpyxl
doctran
tencentcloud-sdk-python-ocr
python-dotenv
pycryptodome
zhipuai==1.0.7
numpy
tenacity
aiostream